/* class universales */
*{
    margin: 0;
    padding: 0;
}


a{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 155%;
    text-decoration: none;
}

nav{
    background-color: black; 
}
header{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    background-color: black; 
}

main{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    background-color: black; 
}

footer{
    background-color: black; 
}
/* CSS NAV UNIVERSAL */

.sticky{
    position: -webkit-sticky;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1020;
    padding: 0px 0px 0px 0px;
}
.logo-ani{
    transition: all 2s;
    transition: transform 2s;
    width: 90px;
}
.logo-ani:hover{
    transform: scale(1.11);
}

navbar-toggler{
    color: white;
}

.text-color{
    color: white;
}
/* CSS FOOTER UNIVERSAL */

.pie-pagina{
    padding-top: 24px;
    border-top: 1px solid white;
    width: 100%;
    color: white;
    padding-bottom: 24px;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.pie-pagina .grupo-1 .box h2{
    margin-bottom: 25px;
}

.pie-pagina .grupo-1 .box a svg{
    margin-left: 10px;
}

/* CSS MAIN INDEX */

.imagenes-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
    .imagenes-main figure{
        margin-top: 30px;
        margin-bottom: 15px;
    }
.h1-margin{
    padding: 25px 40px 20px 20px;
}
h1{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 200%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
/* CSS MENU */

.tipo-comida{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.tipo-comida2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}
.tipo-comida2 figure{
    padding: 30px 25px 0px 25px;
    border: 2px solid wheat;
}
.tipo-comida figure{
    padding: 30px 25px 0px 25px;
    border: 5px solid wheat;
}

.main-menu{
    padding-top: 100px;
    border-top: 1px solid white;
}
/* CCS CERVEZAS */
.main-cervezas{
    padding: 150px 0px 50px 0px;
}
.Caption-Cervezas{
    margin-bottom: 0px;
    text-align: center;
    padding-bottom: 25px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    justify-items: center;
    row-gap: 150px;
}

.grid-container div{
    width: 300px;
    height: auto;
    background-image: url("../Img/cervezas-img/madera-oscura.jpg");
    border: 2px solid wheat;
}

.grid-container div h4{
    text-align: center;
    margin-bottom: 0px;
}
/* CSS NUESTRA HISTORIA*/

.historia{
    display: flex;
    padding-top: 25px;
    border-top: 1px solid white;
    padding-bottom: 25px;
}

.text-caption{
    text-align: center;
    margin-top: 35px;
}

.text-information{
    text-align: center;
    margin-top: 25px;
}

/* CSS CONTACTO */

.main-contacto{
    padding-top: 100px;
    padding-bottom: 50px;
}
.form-container{
    justify-content: center;
    margin: 0px 25% 0px 25%;
    padding:25px 25px 25px;
    background-color: dimgray;
}

.box-form{
    padding-bottom: 25px;
}
.box-form input{
    width: 100%;
}

.box-form textarea{
    width: 100%;
}

/*BREAKPOINT */

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        text-align: center;
    }
    .historia{
        flex-wrap: wrap;
    }
    .img-luisito{
        max-width: 100%;
    }
    .grid-container{
        grid-template-columns: repeat(1,1fr);
    }
    .form-container{
        margin: 10px;
    }
}

